<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-6" style="margin: 0 auto;float: none;margin-top: 20px;">
        <h2 class="text-center">Password Manager</h2>
          <div id="loginbox" style="margin-top:50px" class="card">
            <h5 style="background-color: #31708f;color: white;" class="card-header">Please Login</h5>
              <div class="card-body">
                      <form action="/" id="EmployeeForm" method="post"  role="form" >
                        <div class="form-group">
                          <% if(msg != ''){ %>
                          <div id="signupalert" role="alert" class="alert alert-danger">
                              <p><%= msg %></p>
                              <span></span>
                          </div>
                          <% } %>
                              
                              <label for="Username" >User Name</label>
                              <div >
                                  <input type="text" class="form-control" name="uname" placeholder="Enter Your Username">
                              </div>
                        
                              <label for="password" >Password</label>
                              <div >
                                  <input type="password" class="form-control" name="password" placeholder="Enter your Password">
                              </div>
                        </div>
                              <div class="form-group">
                                <!-- Button -->                                        
                                <div class="vertical-center" >
                                <input type="submit" style="background-color: #31708f;border: none;width: 200px;margin: 0;float: none;margin-top: 2px;" name="submit" value="Login" class="btn btn-primary">   
                                </div>
                            </div>
                          <p style="margin-top: 10px;">If you don't have an account <a href="/signup">Create New Account</a> </p>
                      </form>
                      </div>
              </div>
                   </div>
              </div>              
  </body>
</html>
